.wrapper {
  position: fixed;
  height: 15vh;
  width: 100vw;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scrollBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.scrollTitle {
  font-size: 1.5vw;
}
.scrollBtn > img {
  width: 2vw;
}
