:root {
  font-family: Inter, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* custom variables */
  --gold: #96694c;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

main {
  height: 100vh;
  width: 100vw;
  overflow: scroll !important;
  scroll-snap-type: y mandatory;
  scroll-snap-points-y: repeat(100vh);
  pointer-events: all;
  z-index: 1;
}
a {
  color: white;
  text-decoration: none;
}
.videopage {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
.videopage > img {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  object-fit: cover;
}
.videopage > video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.8);
}
.sectionDetails {
  width: 90vw;
  font-size: 4.2vw;
  font-weight: 100;
  letter-spacing: 0.02ch;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.socials {
  display: flex;
  gap: 5vw;
}
/* contact hover effects */
.contactLink::after {
  position: relative;
  content: "";
  display: block;
  height: 1vh;
  background-color: var(--gold);
  width: 100%;
  transform: translateY(100%);
  opacity: 0;

  transition: all 250ms ease-in-out;
}
.contactLink:hover::after {
  transform: translateY(0%);
  top: -5%;
  opacity: 1;
}
